* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.title {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.calculator {
    margin: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 2px solid black;
}

button {
    height: 100px;
}


.display {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 40px;
    padding: 10px;
    
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 10px;    
}



#equals {
    width: 100%; 
    grid-column: span 2;
}

.container {
    display: flex;
    justify-content: center;
}

