* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.title {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.calculator {
    margin: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 2px solid black;
}

button {
  width: 40%;  
  aspect-ratio: 2 / 1;
}

.display {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 40px;
    padding: 10px;
    
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 10px;
    
}

#zero,
#equals {
    width: 100%;
    margin: 
}

.container {
    display: flex;
    justify-content: center;
}

.right-column,
.left-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}